<!-- Hello
This is my title {{title}}
<br>
name {{ninJaName}}
<button type="button" (click)='ninaConsole()'>ninaConsole</button>
<button type="button" (click)="ChangeninaConsole('sakura')">Change Console</button>
<button type="button" (click)="ChangeninaConsole('ssuke')">Change Console</button>
<button type="button" (click)="ChangeninaConsole('tao')">Change Console</button> -->

<!-- <span>มา 4 จ่าย 3</span>
<div>
  <input #price type="text"  placeholder="ราคาของ">
  <button (click)="cal(price.value)">คำนวณ</button>
</div>
<span>คนละ {{value}} บาท</span> -->
<!-- 
<app-action-bar (numberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
<app-action-bar (numberChange)="testNumberChange($event)" [step]="10"></app-action-bar>
<button type="button" (click)="testClick()">testEvenBinding</button> -->

<app-max-min-meter minLabel="myMinLabel" maxLabel="myMaxLabel" (maxChange)="doMinChange($event)"
  (minChange)="doMaxChange($event)"></app-max-min-meter>